* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://i.postimg.cc/dJTDgy9F/illustration-abstract-space-circle-universe-screenshot-62032-wallhere-com.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(#0f0443, #393a3a);
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 80%;
}

nav {
    display: flex;
    align-items: center;
    color: #61d1ed;
    text-decoration: none;
}

ul {
    color: #61d1ed;
    list-style: none;
    display: flex;
    margin-right: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
  
li {
    font-size: 20px;
    margin: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}
  
main {
    background-color: #000000;
    padding: 60px 40px;
    line-height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    height: 120px;
    display: flex;
    margin-right: 10%;
}

.taller {
    width: 60%;
    padding: 0 80px 0 20px;
    margin: 60px 5px;
}

h1 {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h2 {
    font-size: 30px;
    color: rgb(199, 199, 218);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: white;
    cursor: pointer;
}

div {
    font-size: 20px;
    color: #61d1ed;
}

.imagen_taller {
    margin: 10px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.imagen_taller2 {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.fondo {
    background-image: url(https://i.postimg.cc/dJTDgy9F/illustration-abstract-space-circle-universe-screenshot-62032-wallhere-com.jpg);
    min-height: 500px;
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pie-footer {
    background-color: #0f0443;
    color: white;
    text-align: center;
    height: 5%;
    padding: 20px;
}